<!DOCTYPE html>
<html>
<head>
    <title>Prediccion de precios</title>
</head>
<body>
    <h1>Ingrese los datos para obtener una prediccion de precio</h1>
    <form action="/predict" method="post">
        <label for="feature1">Feature 1:</label>
        <input type="text" id="feature1" name="feature1"><br><br>
        
        <label for="feature2">Feature 2:</label>
        <input type="text" id="feature2" name="feature2"><br><br>

        <!-- Agrega más etiquetas y campos de entrada para las características adicionales -->

        <input type="submit" value="Predecir">
    </form>
</body>
</html>